<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Bell</string>
				<string>Molly</string>
				<string>St.Edward</string>
				<string>None of these</string>
			</array>
			<key>question</key>
			<string>Who invented the telephone?</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>answerKey</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>Thumb</string>
				<string>Pinkie</string>
				<string>Middle</string>
				<string>Toe</string>
			</array>
			<key>question</key>
			<string>Which nail grows fastest?</string>
		</dict>
		<key>New item - 3</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>100 Db</string>
				<string>100 C</string>
				<string>100 K</string>
				<string>100 F</string>
			</array>
			<key>question</key>
			<string>What temperature does water boil at?</string>
		</dict>
		<key>New item - 4</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Fleming</string>
				<string>Darwin</string>
				<string>Seth Rogen</string>
				<string>Einstein</string>
			</array>
			<key>question</key>
			<string>Who discovered penicillin?</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>answerKey</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>Dali</string>
				<string>Shakespeare</string>
				<string>Anonymous</string>
				<string>Kalidas</string>
			</array>
			<key>question</key>
			<string>Who wrote Lazarillo de Tormes?</string>
		</dict>
		<key>New item - 6</key>
		<dict>
			<key>answerKey</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>Brasilia</string>
				<string>Rome</string>
				<string>Barcelona</string>
				<string>Madrid</string>
			</array>
			<key>question</key>
			<string>Where was Lope de Vega born? </string>
		</dict>
		<key>New item - 7</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>1911</string>
				<string>1914</string>
				<string>1922</string>
				<string>1906</string>
			</array>
			<key>question</key>
			<string>When did the First World War start?</string>
		</dict>
		<key>New item - 8</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Polish</string>
				<string>German</string>
				<string>French</string>
				<string>Austrian</string>
			</array>
			<key>question</key>
			<string>What nationality was Chopin?</string>
		</dict>
		<key>New item - 9</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Van Gogh</string>
				<string>Picasso</string>
				<string>Dali</string>
				<string>None of these</string>
			</array>
			<key>question</key>
			<string>Who cut Van Gogh’s ear?</string>
		</dict>
		<key>New item - 10</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Da Vinci</string>
				<string>Patricia</string>
				<string>Picasso</string>
				<string>Stephen King</string>
			</array>
			<key>question</key>
			<string>Who painted the Mona Lisa? </string>
		</dict>
		<key>New item - 11</key>
		<dict>
			<key>answerKey</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>36</string>
				<string>37</string>
				<string>12</string>
				<string>42</string>
			</array>
			<key>question</key>
			<string>How many dots are there on two dice?</string>
		</dict>
		<key>New item - 12</key>
		<dict>
			<key>answerKey</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>Adolf Hitler</string>
				<string>Shakespear</string>
				<string>St Patrick</string>
				<string>Cela</string>
			</array>
			<key>question</key>
			<string>Who wrote La Colmena?</string>
		</dict>
		<key>New item - 13</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Italy</string>
				<string>Spain</string>
				<string>Germany</string>
				<string>Britain</string>
			</array>
			<key>question</key>
			<string>Where are the Dolomites?</string>
		</dict>
		<key>New item - 14</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>Beijing</string>
				<string>Nairobi</string>
				<string>Delhi</string>
				<string>Toronto</string>
			</array>
			<key>question</key>
			<string>What’s the capital of Kenya?</string>
		</dict>
		<key>New item - 15</key>
		<dict>
			<key>answerKey</key>
			<integer>3</integer>
			<key>options</key>
			<array>
				<string>Indian Ocean</string>
				<string>Red Sea</string>
				<string>Atlantic</string>
				<string>Pacific</string>
			</array>
			<key>question</key>
			<string>Which is the largest ocean? </string>
		</dict>
		<key>New item - 16</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Toss</string>
				<string>Last winner</string>
			</array>
			<key>question</key>
			<string>Who starts first in chess? </string>
		</dict>
		<key>New item - 17</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Greece</string>
				<string>Spain</string>
				<string>Poland</string>
				<string>Guam Islands</string>
			</array>
			<key>question</key>
			<string>Where was El Greco born?</string>
		</dict>
		<key>New item - 18</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>Brad Pitt</string>
				<string>Sean Paul</string>
				<string>Samuel L Jackson</string>
				<string>None of these</string>
			</array>
			<key>question</key>
			<string>Who did Madonna marry?</string>
		</dict>
		<key>New item - 19</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Red-Blue</string>
				<string>Blue-Green</string>
				<string>Red-Black</string>
				<string>Red-Black</string>
			</array>
			<key>question</key>
			<string>What colours make purple?</string>
		</dict>
		<key>New item - 20</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Diamond</string>
				<string>Gold</string>
				<string>Aluminium</string>
				<string>Emarald</string>
			</array>
			<key>question</key>
			<string>What’s the hardest rock?</string>
		</dict>
	</dict>
</dict>
</plist>
