<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<dict>
		<key>New item</key>
		<dict>
			<key>answerKey</key>
			<integer>2</integer>
			<key>options</key>
			<array>
				<string>Encapsulation</string>
				<string>Polymorphism</string>
				<string>Abstraction</string>
				<string>Inheritance</string>
			</array>
			<key>question</key>
			<string>A process that involves recognizing and focusing on the important characteristics of a situation or object is known as:</string>
		</dict>
		<key>New item - 2</key>
		<dict>
			<key>answerKey</key>
			<integer>1</integer>
			<key>options</key>
			<array>
				<string>An object is what classes instantiated are from</string>
				<string>An object is an instance of a class</string>
				<string>An object is a variable</string>
				<string>An object is not an instance of a class.</string>
			</array>
			<key>question</key>
			<string>Which statement is true regarding an object?</string>
		</dict>
		<key>New item - 3</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift3?</string>
		</dict>
		<key>New item - 4</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift4?</string>
		</dict>
		<key>New item - 5</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift5?</string>
		</dict>
		<key>New item - 6</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift6?</string>
		</dict>
		<key>New item - 7</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift7?</string>
		</dict>
		<key>New item - 8</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift8?</string>
		</dict>
		<key>New item - 9</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift9?</string>
		</dict>
		<key>New item - 10</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift10?</string>
		</dict>
		<key>New item - 11</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift11?</string>
		</dict>
		<key>New item - 12</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift12?</string>
		</dict>
		<key>New item - 13</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift13?</string>
		</dict>
		<key>New item - 14</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift14?</string>
		</dict>
		<key>New item - 15</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift15?</string>
		</dict>
		<key>New item - 16</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift16?</string>
		</dict>
		<key>New item - 17</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift17?</string>
		</dict>
		<key>New item - 18</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift18?</string>
		</dict>
		<key>New item - 19</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift19?</string>
		</dict>
		<key>New item - 20</key>
		<dict>
			<key>answerKey</key>
			<integer>0</integer>
			<key>options</key>
			<array>
				<string>Option1</string>
				<string>Option2</string>
				<string>Option3</string>
				<string>Option4</string>
			</array>
			<key>question</key>
			<string>What is  swift20?</string>
		</dict>
	</dict>
</dict>
</plist>
